<launch>

    <arg name="map_size_x" value="40.0"/>
    <arg name="map_size_y" value="20.0"/>
    <arg name="map_size_z" value=" 5.0"/>

    <arg name="init_x" value="0"/>
    <arg name="init_y" value="0"/>
    <arg name="init_z" value="0.7"/> 

    <arg name="odom_topic" value="/state_ukf/odom" />

    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>

    <arg name="box_min_x" value="-10.0"/>
    <arg name="box_min_y" value="-15.0"/>
    <arg name="box_min_z" value=" 0.0"/>
    <arg name="box_max_x" value="10.0"/>
    <arg name="box_max_y" value="15.0"/>
    <arg name="box_max_z" value=" 2.0"/>

    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <!-- sensor pose: transform of camera frame in the world frame -->
    <arg name="sensor_pose_topic" value="/pcl_render_node/sensor_pose"/>
    <!-- depth topic: depth image, 640x480 by default -->
    <!-- cloud topic: point cloud measurement  -->
    <!-- subscribe ONLY TO ONE of the two topics -->
    <arg name="depth_topic" value="/pcl_render_node/depth"/>
    <arg name="cloud_topic" value="/pcl_render_node/cloud"/>

    <!-- intrinsic params of the depth camera -->
    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>


    <node pkg="tunnel_planner" type="tunnel_planner" name="tunnel_planner" output="screen" args="$(find tunnel_planner)/config/drone_small/drone_small_sim.yaml">
        <remap from="~/occ_map" to="/local_occ_map/occ_map"/>
        <remap from="~/free_map" to="/local_occ_map/free_map"/>
        <remap from="~/odom" to="$(arg odom_topic)"/>
        <remap from="~/latest_odom" to="$(arg odom_topic)"/>
        <remap from="~/plan_trigger" to="/traj_start_trigger"/>
        <remap from="~/traj_state" to="/n1ctrl/traj_state"/>
        <remap from="~/tunnel_entrance" to="/marker_detector/mean_pose"/>
    </node>

    <node pkg="tunnel_planner" type="b_spline_traj_server" name="b_spline_traj_server" output="screen">
        <remap from="/bspline_traj" to="/tunnel_planner/traj_full"/>
        <remap from="/odom" to="$(arg odom_topic)"/>
        <remap from="/position_cmd" to="/planning/pos_cmd"/>
        <remap from="/pg_T_vio" to="/loop_fusion/pg_T_vio"/>

        <param name="traj_server/pub_traj_id" value="10" type="int"/>
        <param name="traj_server/isLoopCorrection" value="false" type="bool"/>
    </node>

    <node pkg="marker_detector" type="entrance_publisher" name="entrance_publisher" output="screen">
        <param name= "pos_x" type="double" value="2.0"/>
        <param name= "pos_y" type="double" value="0.0"/>
        <param name= "pos_z" type="double" value="0.5"/>
        <param name= "ori_w" type="double" value="1.0"/>
        <param name= "ori_x" type="double" value="0.0"/>
        <param name= "ori_y" type="double" value="0.0"/>
        <param name= "ori_z" type="double" value="0.0"/>

        <remap from="~detect_trigger" to="/traj_start_trigger"/>
        <remap from="~mean_pose" to="/marker_detector/mean_pose"/>
    </node>

  <!-- use simulator -->
  <include file="$(find tunnel_planner)/launch/simulator.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>

    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>

    <arg name="odometry_topic" value="$(arg odom_topic)" />
    <arg name="c_num" value="0"/>
    <arg name="p_num" value="130"/>
  </include>


</launch>

